/* Variables */

:root {
  --basic-black: #000000;
  --basic-transparent-black: rgba(0, 0, 0, 0.3);
  --basic-extra-black: #231f20;
  --basic-light-black: #333333;
  --basic-white: #ffffff;
  --basic-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-transparent: rgba(0, 0, 0, 0);
  --basic-gray: #888888;
  --basic-gray-hover: #ebebeb;
  --basic-extra-gray: #666666;
  --basic-dark-gray: #6a6a6a;
  --basic-extra-dark-gray: #a9a9a9;
  --basic-light-gray: #f2f2f2;
  --basic-extra-light-gray: #cacaca;
  --basic-gray-form: #ababab;
  --basic-silver: #eeeeee;
  --basic-brown: #766357;
  --basic-brown-hover: #604e43;
  --basic-brown-active: #503e33;
  --basic-extra-brown: #766458;
  --basic-blue: #81b3d2;
  --basic-blue-hover: #669ec0;
  --basic-blue-active: #5496bd;
  --basic-transparent-white-active: rgba(255, 255, 255, 0.3);
}

/* Global */
.page-body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: var(--basic-black);
	text-transform: uppercase;
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Grid */

.page {
  min-width: 1280px;
  height: 100%;
  background-color: var(--basic-silver);
}

.page-body {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Main navigation*/

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
	background-color: var(--basic-white);
  position: relative;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1200;
  padding: 15px 0;
  margin: 0 72px;
	list-style: none;
}

.site-navigation li {
  width: 227px;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: auto;
  text-align: right;
}

.site-navigation li:nth-child(4n) {
  text-align: right;
}

.site-navigation a {
	color: var(--basic-black);
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:active {
	color: var(--basic-transparent-black);
}

.site-navigation .current-page {
  color: var(--basic-brown);
}

.site-navigation .current-page:hover {
  color: var(--basic-brown);
}

.site-navigation .current-page:active {
  color: var(--basic-brown);
}

/* Container */
.container {
  display: grid;
  grid-template-rows: 509px auto auto;
}

/* Greeting */
.greeting {
	color: var(--basic-white);
	background-color: var(--basic-gray);
  background-image: url('../img/shape.svg'),
  url('../img/background-photo.jpg'); 
  background-position: bottom, center;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-image-welcome { 
  width: 456.65px;
  height: 350.88px;
}

/* Reasons */

.reasons {
  display: grid;
  grid-template-rows: auto auto;
  margin: 0;
	text-align: center;
  align-items: center;
}

.reasons-intro-container {
  justify-self: center;
  margin: 0;
  padding: 0;
}

.reasons-intro-container .reasons-intro {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
  margin: 0;
  padding: 42.5px 365px 40px;
}

.reasons p {
	line-height: 26px;
  margin: 0;
  padding-bottom: 54px; /*51*/
}

.reasons-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
  "r1 r1 r1"
  "r2 r2 r2"
  "r3 r4 r5";
	list-style: none;
}

.reasons-item {
	color: var(--basic-white);
	background-color: var(--basic-blue);
}

.reasons-item-title {
	font-size: 21px;
	line-height: 21px;
  margin: 0;
  padding: 47px 125px 25px;
}

.reasons-item p {
  padding: 0 45px 23px; 
  line-height: 21px;
}

.reason-1 {
  grid-area: r1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

.reason-2 {
  grid-area: r2; 
  display: grid;
  grid-template-columns: auto 1fr;
}

.reason-3 {
  grid-area: r3; 
}

.reason-4 {
  grid-area: r4; 
}

.reason-5 {
  grid-area: r5; 
}

.reason-1-description {
  grid-column: 1 / 2;
}

.reason-2-description {
  grid-column: -1 / -2;
  order: 1;
}

.reason-2-image {
  grid-column: 1 / 2;
}

.reasons-city-list {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
	list-style: none;
}

.reasons-city-item {
	color: var(--basic-black);
	background-color: var(--basic-white);
  width: 400px;
}

.reasons-city-item-title {
	font-size: 21px;
	line-height: 21px;
  margin: 0;
  padding-top: 160px;
  padding-bottom: 25px;
}

.reasons-city-item-title-1 {
  position: relative;
}

.reasons-city-item-title-1::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reasons-city-item-title-2 {
  position: relative;
}

.reasons-city-item-title-2::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 70px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reasons-city-item-title-3 {
  position: relative;
}

.reasons-city-item-title-3::before {
  content: "";
  position: absolute;
  top: 55px;
  right: 168px;
  width: 64px;
  height: 77px;
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reasons-city-item p {
  line-height: 21px;
  padding: 0 50px 82px;
}

.reasons-item-background-silver {
	color: var(--basic-light-black);
	background-color: var(--basic-silver);
}

.reasons-item-background-silver p {
  padding-left: 65px;
  padding-right: 65px;
}

/* Buttons */

.button {
	font: inherit;
	text-align: center;
	color: var(--basic-white);
  font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

/* Search */

.hotels-search {
  justify-self: center;
	line-height: 24px;
	text-align: center;
  position: relative;
}

.hotels-search-title {
	font-size: 30px;
	font-weight: bold;
  margin: 0;
  padding-top: 58px;
  padding-bottom: 30px;
}

.hotels-search p {
  margin: 0;
  padding-bottom: 130px;
}

.button-search {
	font-size: 21px;
	line-height: 26px;
	background-color: var(--basic-brown);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 568px;
  margin: 0;
  padding: 30px 125px;
}

.button-search:hover {
	background-color: var(--basic-brown-hover);
}

.button-search:active {
	background-color: var(--basic-brown-active);
	color: var(--basic-transparent-white-active);
}

.modal {
  position: relative;
}

.modal-search-form {
  background-color: var(--basic-white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 458px;
  height: 285px;
  padding: 55px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-search-form .modal-search-item {
  padding-bottom: 0;
  font-weight: bold;
  line-height: 26px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.modal-search-item label {
  width: 25%;
  text-align: left;
}

.modal-search-item input {
  width: 75%;
  font: inherit;
  background-color: var(--basic-light-gray);
  box-sizing: border-box;
  border: none;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid var(--basic-transparent);
}


/* Input placeholder */
::-webkit-input-placeholder {
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 1;
}

::-moz-placeholder {
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 1;
  }/* Firefox 19+ */

:-moz-placeholder {
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 1;
  }/* Firefox 18- */


:-ms-input-placeholder {
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 1;
}

.modal-search-item input:hover {
  background-color: var(--basic-gray-hover);
}

.modal-search-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.modal-search-item .modal-search-item-calendar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-transparent);
  border: none;
}

.modal-search-item-calendar:hover path {
  fill: var(--basic-black);
}

.modal-search-item-calendar:active path {
  fill: var(--basic-blue);
}

.modal-search-item-persons-containter {
  display: flex;
}

.modal-search-item-persons-containter .modal-search-item-persons {
  width: 50%;
  margin-bottom: 52px;
}

.modal-search-item-persons label {
  width: 50%;
}

.modal-search-item-persons:last-child label {
  text-align: center;
  padding-left: 15px;
}

.modal-search-item-persons span {
  display: flex;
  width: 50%;
}

.modal-search-item-persons input {
  width: calc(100% / 3);
  text-align: center;
  padding: 6px 0;
}

.modal-search-item-persons .modal-adults-minus {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-light-gray);
  border: none;
}

.modal-adults-minus:hover path {
  fill: var(--basic-black);
}

.modal-adults-minus:active path {
  fill: var(--basic-blue);
}

.modal-search-item-persons .modal-adults-plus {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-light-gray);
  border: none;
}

.modal-adults-plus:hover path {
  fill: var(--basic-black);
}

.modal-adults-plus:active path {
  fill: var(--basic-blue);
}

.button-modal-search {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-blue);
  box-sizing: border-box;
  width: 458px;
  margin: 0;
  padding: 16px 182px;
}

.button-modal-search:hover {
  background-color: var(--basic-blue-hover);
}

.button-modal-search:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-transparent-white-active);
}

/* Main footer*/
.main-footer {
	position: relative;
}

.map {
  width: 1199px;
  height: 594px;
}

.page-footer {
  background-color: var(--basic-transparent-white);
  padding: 0 75px;
  margin: 0;
  display: flex;
}

.page-footer-main {
  position: absolute;
  bottom: 0;
}

.footer-contacts-wrapper {
  margin-top: 13px;
}

.footer-contacts {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
  width: 328px;
	text-align: center;
}

.footer-contacts p {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 0;
}

.footer-contacts:last-child p {
  padding-top: 10px;
}

.contacts-phone {
	color: var(--basic-black);
}

.footer-socials {
  width: 400px;
	text-align: center;
  justify-self: center;
}

.footer-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 35px 0;
  padding: 0;
	list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-button:hover {
	background-color: var(--basic-blue-hover);
}

.social-button:active {
	background-color: var(--basic-blue-active);
}

.social-button:active img {
  opacity: 0.3;
}

.footer-copyright {
	line-height: 26px;
	text-align: center;
  width: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-copyright {
  margin-left: 8px;
}

.button-copyright:hover path {
	fill: var(--basic-blue);
}

.button-copyright:active path {
  fill: var(--basic-extra-black);
  opacity: 0.3;
}

/* Hotels page */

/* Hotels filter */

.hotels-filter {
  background-color: var(--basic-gray);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 317px;
}

.filter-item legend {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: bold;
}

.range-controls {
  height: 19px;
  padding-top: 17px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-transparent-white-active);
}

.range-controls .bar {
  width: 78%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray-form);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 248px;
}

/*.price-controls .label {
  color: var(--basic-white);
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
}*/

/* Sort hotels */

.hotels-sort {
  display: grid;
  grid-template-columns: 208px 1fr 208px;
  column-gap: 29px;
  align-items: baseline;
  margin: 0;
  padding: 0 73px;
}

.hotels-sort-item-wrapper {
  grid-column: 2 / 3;
  justify-self: start;
  align-self: baseline;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotels-sort-icon-wrapper {
  justify-self: end;
}

.hotels-sort-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotels-sort-subtitle {
  font-size: 12px;
  line-height: 18px;
  display: inline;
  margin-right: 40px;
}

.hotels-sort-item {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-transparent-black);
  border-bottom: 1px dashed var(--basic-blue);
  margin-right: 30px;
}

.hotels-sort-item-active {
  color: var(--basic-blue);
  border-bottom: none;
}

.hotels-sort-item:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}

.hotels-sort-item:active {
  color: var(--basic-black);
  border: none;
}

.hotels-sort-icon-up-dir {
  fill: var(--basic-extra-light-gray);
  margin-right: 12px;
}

.hotels-sort-icon-down-dir {
  fill: var(--basic-blue);
}

.hotels-sort-icon-up-dir:hover,
.hotels-sort-icon-down-dir:hover {
  fill: var(--basic-black);
}

.hotels-sort-icon-up-dir:active,
.hotels-sort-icon-down-dir:active {
  fill: var(--basic-blue);
}

/* Results */

.hotels-results-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-results-item {
  display: grid;
  grid-template-columns: 208px 1fr 208px;
  column-gap: 29px;
  color: var(--basic-light-black);
  padding: 0 73px;
  border-top: 1px solid var(--basic-silver);
  position: relative;
}

.hotels-results-item:last-child {
  border-bottom: 1px solid var(--basic-silver);
}

.hotels-results-item-description-wrapper {
  grid-column: 2 / 3;
  justify-self: start;
  align-self: space-around;
  padding-top: 22.5px;
}

.hotels-results-item-description-wrapper img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 73px;
}

.hotels-results-item-description-container {
  display: grid;
  grid-template-columns: 110px 142px;
  grid-template-rows: 27px 27px;
  column-gap: 6px;
  justify-content: start;
  align-items: center;
  padding-bottom: 30px;
}

.hotels-results-item-rating-wrapper {
  grid-column: -1 / -2;
  justify-self: end;
  align-self: center;
}

.hotels-results-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.hotels-results-item-title:hover {
  color: var(--basic-blue);
}

.hotels-results-item-title:active {
  color: var(--basic-transparent-black);
}

.hotels-results-item-rating {
  color: var(--basic-extra-gray);
  background-color: var(--basic-light-gray);
}

.button-details {
  background-color: var(--basic-blue);
}

.button-details:hover {
  background-color: var(--basic-blue-hover);
}

.button-details:active {
  background-color: var(--basic-blue-active);
  opacity: 0.3;
}

.button-book {
  background-color: var(--basic-brown);
}

.button-book:hover {
  background-color: var(--basic-brown-hover);
}

.button-book:active {
  background-color: var(--basic-brown-active);
  opacity: 0.3;
}