/* Variables */

:root {
	--basic-black: #000000;
  --basic-transparent-black: rgba(0, 0, 0, 0.3);
	--basic-extra-black: #231f20;
	--basic-light-black: #333333;
	--basic-white: #ffffff;
	--basic-transparent-white: rgba(255, 255, 255, 0.9);
	--basic-gray: #888888;
	--basci-gray-hover: #ebebeb;
	--basic-extra-gray: #666666;
	--basic-dark-gray: #6a6a6a;
	--basic-extra-dark-gray: #a9a9a9;
	--basic-light-gray: #f2f2f2;
	--basic-extra-light-gray: #cacaca;
	--basic-silver: #eeeeee;
	--basic-brown: #766357;
	--basic-brown-hover: #604e43;
	--basic-brown-active: #503e33;
	--basic-extra-brown: #766458;
	--basic-blue: #81b3d2;
	--basic-blue-hover: #669ec0;
	--basic-blue-active: #5496bd;
}

/* Global */
.page-body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: var(--basic-black);
	text-transform: uppercase;
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Grid */

.page {
  min-width: 1280px;
  height: 100%;
  background-color: var(--basic-silver);
}

.page-body {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation*/

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
	background-color: var(--basic-white);
  position: relative;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1200;
  padding: 15px 0;
  margin: 0 72px;
	list-style: none;
}

.site-navigation li {
  width: 227px;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: auto;
  text-align: right;
}

.site-navigation li:nth-child(4n) {
  text-align: right;
}

.site-navigation a {
	color: var(--basic-black);
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:active {
	color: var(--basic-transparent-black);
}

.site-navigation .current-page {
  color: var(--basic-brown);
}

.site-navigation .current-page:hover {
  color: var(--basic-brown);
}

.site-navigation .current-page:active {
  color: var(--basic-brown);
}

/* Container */
.container {
  display: grid;
  grid-template-rows: 509px auto auto;
}

/* Greeting */
.greeting {
	color: var(--basic-white);
	background-color: var(--basic-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-image-welcome { 
  width: 456.65px;
  height: 350.88px;
}

/* Reasons */

.reasons {
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin: 0;
	text-align: center;
  align-items: center;
}

.reasons-intro-container {
  justify-self: center;
  margin: 0;
  padding: 0;
}

.reasons-intro {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.reasons p {
	line-height: 26px;
}

.reasons-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas: 
  "r1 r1 r1"
  "r2 r2 r2"
  "r3 r4 r5";
	list-style: none;
}

.reasons-item {
	color: var(--basic-white);
	background-color: var(--basic-blue);
}

.reasons-item-title {
	font-size: 21px;
	line-height: 21px;
}

.reason-1 {
  grid-area: r1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}

.reason-2 {
  grid-area: r2; 
  display: grid;
  grid-template-columns: auto 1fr;
}

.reason-3 {
  grid-area: r3; 
}

.reason-4 {
  grid-area: r4; 
}

.reason-5 {
  grid-area: r5; 
}

.reason-1-description {
  grid-column: 1 / 2;
}

.reason-2-description {
  grid-column: -1 / -2;
  order: 1;
}

.reason-2-image {
  grid-column: 1 / 2;
}

.reasons-city-list {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
	list-style: none;
}

.reasons-city-item {
	color: var(--basic-black);
	background-color: var(--basic-white);
  width: 400px;
}

.reasons-city-item-title {
	font-size: 21px;
	line-height: 21px;
}

.reasons-item-background-silver {
	color: var(--basic-light-black);
	background-color: var(--basic-silver);
}

/* Buttons */

.button {
	font: inherit;
	text-align: center;
	color: var(--basic-white);
  font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

/* Search */

.hotels-search {
  justify-self: center;
	line-height: 24px;
	text-align: center;
  padding-top: 58px;
  padding-bottom: 78px;
}

.hotels-search-title {
	font-size: 30px;
	font-weight: bold;
}

.button-search {
	font-size: 21px;
	line-height: 26px;
	background-color: var(--basic-brown);
}

.button-search:hover {
	background-color: var(--basic-brown-hover);
}

.button-search:active {
	background-color: var(basic-brown-active);
	opacity: 0.3;
}

/* Main footer*/
.main-footer {
	position: relative;
}

.map {
  width: 1199px;
  height: 594px;
}

.page-footer {
  background-color: var(--basic-transparent-white);
  padding: 30px 72px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-footer-main {
  position: absolute;
  bottom: 0;
}

.footer-contacts {
  margin: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
  width: 352px;
	text-align: center;
}

.contacts-phone {
	color: var(--basic-black);
}

.footer-socials {
  width: 352px;
	text-align: center;
  justify-self: center;
}

.footer-socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
	list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-button:hover {
	background-color: var(--basic-blue-hover);
}

.social-button:active {
	background-color: var(--basic-blue-active);
}

.social-button:active img {
  opacity: 0.3;
}

.footer-copyright {
	line-height: 26px;
	text-align: center;
  width: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-copyright {
  margin-left: 8px;
}

.button-copyright:hover path {
	fill: var(--basic-blue);
}

.button-copyright:active path {
  fill: var(--basic-extra-black);
  opacity: 0.3;
}

/* Hotels page */

/* Hotels filter */

.hotels-filter {
  background-color: var(--basic-gray);
}

/* Sort hotels */

.hotels-sort {
  display: grid;
  grid-template-columns: 208px 1fr 208px;
  column-gap: 29px;
  align-items: baseline;
  margin: 0;
  padding: 0 73px;
}

.hotels-sort-item-wrapper {
  grid-column: 2 / 3;
  justify-self: start;
  align-self: baseline;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hotels-sort-icon-wrapper {
  justify-self: end;
}

.hotels-sort-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotels-sort-subtitle {
  font-size: 12px;
  line-height: 18px;
  display: inline;
  margin-right: 40px;
}

.hotels-sort-item {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-transparent-black);
  border-bottom: 1px dashed var(--basic-blue);
  margin-right: 30px;
}

.hotels-sort-item-active {
  color: var(--basic-blue);
  border-bottom: none;
}

.hotels-sort-item:hover {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}

.hotels-sort-item:active {
  color: var(--basic-black);
  border: none;
}

.hotels-sort-icon-up-dir {
  fill: var(--basic-extra-light-gray);
  margin-right: 12px;
}

.hotels-sort-icon-down-dir {
  fill: var(--basic-blue);
}

.hotels-sort-icon-up-dir:hover,
.hotels-sort-icon-down-dir:hover {
  fill: var(--basic-black);
}

.hotels-sort-icon-up-dir:active,
.hotels-sort-icon-down-dir:active {
  fill: var(--basic-blue);
}

/* Results */

.hotels-results-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-results-item {
  display: grid;
  grid-template-columns: 208px 1fr 208px;
  column-gap: 29px;
  color: var(--basic-light-black);
  padding: 0 73px;
  border-top: 1px solid var(--basic-silver);
  position: relative;
}

.hotels-results-item:last-child {
  border-bottom: 1px solid var(--basic-silver);
}

.hotels-results-item-description-wrapper {
  grid-column: 2 / 3;
  justify-self: start;
  align-self: space-around;
  padding-top: 22.5px;
}

.hotels-results-item-description-wrapper img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 73px;
}

.hotels-results-item-description-container {
  display: grid;
  grid-template-columns: 110px 142px;
  grid-template-rows: 27px 27px;
  column-gap: 6px;
  justify-content: start;
  align-items: center;
  padding-bottom: 30px;
}

.hotels-results-item-rating-wrapper {
  grid-column: -1 / -2;
  justify-self: end;
  align-self: center;
}

.hotels-results-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.hotels-results-item-title:hover {
  color: var(--basic-blue);
}

.hotels-results-item-title:active {
  color: var(--basic-transparent-black);
}

.hotels-results-item-rating {
  color: var(--basic-extra-gray);
  background-color: var(--basic-light-gray);
}

.button-details {
  background-color: var(--basic-blue);
}

.button-details:hover {
  background-color: var(--basic-blue-hover);
}

.button-details:active {
  background-color: var(--basic-blue-active);
  opacity: 0.3;
}

.button-book {
  background-color: var(--basic-brown);
}

.button-book:hover {
  background-color: var(--basic-brown-hover);
}

.button-book:active {
  background-color: var(--basic-brown-active);
  opacity: 0.3;
}